<div class="parent bg-blue-500">



  <div class="flex flex-row justify-center align-content-center">
    <form [formGroup]="loginForm"  class=" px-32 py-24 bg-white shadow-lg rounded-sm login-box">
      <h3 class="text-center mb-4 text-lg text-uppercase text-blue-400 font-raleway">COURSE ADVISOR LOGIN</h3>
        <div class="flex flex-column align-content-center">
            <div class="">
              <input type="text"
              placeholder="User name"
              formControlName="email"
              class="text-black w-auto rounded-sm bg-gray-300 px-4" id="">
              <input type="password"
              formControlName="password"
              placeholder="Password"
              class=" w-auto mt-5 rounded-sm bg-gray-300 px-4" id="">
              <button (click)="login()" class="disabled:bg-blue-200 bg-blue-900 w-auto shadow-sm text-white py-2 mt-3 rounded-lg">Login</button>
            </div>
        </div>
    </form>
  </div>
</div>
