<div class="parent bg-blue-500">



  <div class="flex flex-row justify-center align-content-center">
    <form action="" class=" px-32 py-24 bg-white shadow-lg rounded-sm login-box">
      <h3 class="text-center mb-4 text-lg text-uppercase text-blue-400">COURSE ADVISOR LOGIN</h3>
        <div class="flex flex-column align-content-center">
            <div class="">
              <input type="text" placeholder="User name" class="text-black w-auto rounded-sm bg-gray-300 px-4" id="">
              <input type="password" placeholder="Password" class=" w-auto mt-5 rounded-sm bg-gray-300 px-4" id="">
              <button class="bg-blue-900 w-auto shadow-lg text-white py-4 mt-3 rounded-sm">Login</button>
            </div>
        </div>
    </form>
  </div>
</div>
