<div class="parent w-auto pt-10">

  <!-- checkbox -->

  <div *ngIf="showCheckBox" class="flex flex-row justify-center">
    <div class="container shadow bg-white h-auto text-center py-8 rounded">
      <p class="text-gray-600 font-poppins text-xl">Check Your name</p>
      <form [formGroup]="searchString" class="mt-4">
        <input type="text"  min="14" max="14" formControlName="searchValue" name="searchString" placeholder="enter your mat_no" class="h-10 p-4 w-auto rounded-l font-raleway w-68 border bg-gray-200 focus:outline-none" id="">
        <button  (click)="checkUser()" class="w-24 p-2 mt-4 rounded-r text-white bg-blue-800">
          <span *ngIf="!checking">Check</span>
          <span *ngIf="checking">checking...</span>
        </button>
      </form>
      <div *ngIf="searchString.touched && searchString.get('searchValue').hasError('required')" class=" w-auto flex flex-row justify-center">
        <div class="text-center mt-2 text-red-400">
            This field is required
        </div>
      </div>

      <div *ngIf="searchString.touched && searchString.get('searchValue').hasError('minlength')" class=" w-auto flex flex-row justify-center">
          <div class="text-center mt-2 text-red-400">
              The minimium length for this field is 13 charaters
          </div>
      </div>

      <div *ngIf="searchString.touched && searchString.get('searchValue').hasError('maxlength')" class=" w-auto flex flex-row justify-center">
          <div class="text-center mt-2 text-red-400">
              The maximium length for this field is 13 charaters
          </div>
      </div>

    </div>
  </div>

  <!-- error box-->

  <div *ngIf="error" class="flex flex-row justify-center">
    <div class="flex flex-col bg-white shadow  h-auto py-4 text-center text-white rounded mt-2">
        <div class="container  h-auto py-4 text-center font-raleway text-gray-600 w-64 rounded-sm mt-2">
            Your name is not on the graduation list
            Please check with your course adviser
        </div>
        <hr>
        <div class="flex pl-4">
          <button
          (click)="checkAgain()"
          class="mt-6 p-2 bg-blue-500 hover:bg-red-600 cursor-pointer hover:text-white text-gray-100 rounded">Check again</button>

          <button
          [routerLink]="['/home/record']" routerLinkActive=""
          class="mt-6 p-2 bg-blue-500 hover:bg-red-600 ml-4 cursor-pointer hover:text-white text-gray-100 rounded">View record</button>
        </div>
    </div>
  </div>

  <!-- success box -->

  <div  *ngIf="success" class="flex flex-row justify-center">
    <div class="flex flex-col bg-white shadow container w-64 rounded-lg mt-2 text-white">

        <div @success class="text-gray-600">
            <p class="ml-4 mt-4 mb-4">{{ data.fullname.toUpperCase() }}</p>
            <hr>
            <p class="ml-4 mt-4">Matriculation number: {{ data.mat_no.toUpperCase() }}</p>
          </div>

          <hr class="mt-4">

          <div class="pl-4 mb-4 flex mt-4 justify-between">
            <div>
                <button
                (click)="checkUser()"
                class="w-auto p-2 rounded-sm shadow text-gray-100 text-sm bg-blue-500 hover:bg-blue-600 cursor-pointer hover:text-white rounded flex">
                <span>Proceed to next step</span>
                <img src="../../../../../../assets/icons/arrow-right.svg" class="ml-2" alt="">
              </button>
            </div>
              <div class="mr-4">
                  <button
                  [routerLink]="['/home/record']"
                  class="flex p-2 bg-blue-500 text-sm hover:bg-blue-400 cursor-pointer hover:text-white text-gray-100 w-auto rounded ">
                  <span>View Record</span>
                  <img src="../../../../../../assets/icons/file-text.svg" class="ml-2" alt="">
                </button>
                </div>
          </div>

    </div>

    </div>
</div>
