<div class="parent flex flex-row " style="font-family:  'Poppins', sans-serif">
  <div class=" shadow-2xl w-64 h-screen z-20 bg-blue-600 text-blue-600">
    <div class="w-auto img-box bg-white flex flex-col pb-10 text-center font-raleway">
        <img src="../../../../../../assets/images/uniport.jpg" class="h-full w-full object-contain" alt="">
        <h3>Computer Science</h3>
        <h4>E-Clearance System</h4>
    </div>
  </div>
  <div class="w-screen h-screen z-10">
      <app-navbar></app-navbar>
      <div class="body pl-5 pt-6">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
