
@font-face{
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.ttf')
}

@font-face{
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-Regular.ttf')
}

@tailwind base;
@tailwind components;
@tailwind utilities;
