<div class="parent w-auto h-16 z-0 shadow bg-white pr-6 pl-6">
  <div class="flex justify-between">
    <div class="title pt-6 text-gray-600 font-raleway">
      {{ title }}
    </div>
    <div class="logout-btn">
        <button
        title="logout"
        class="p-2 text-sm mt-3 ml-2 rounded bg-red-600 shadow text-white flex hover:bg-red-500 focus:shadow-outline">
            <span>Logout</span>
            <div class="pl-2">
              <img src="../../../../../assets/icons/log-out.svg" width="20" alt="">
            </div>
        </button>
    </div>
  </div>
</div>
